{% extends "base.html" %} {% load static %}

<header>
  <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  <link rel="stylesheet" href="{% static 'css/app-dark.css'%}" />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
</header>

{% block content %}

  <div class="conteiner">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card shadow shadow-lg justify-content-center">
          {% if object.photo %}
            <img
              src="{{ object.photo.url }}"
              class="card-img-top"
              alt=" {{ object.brand }} {{ object.model }}"
            />
          
          {% else %}
            <p>Foto Indisponivél</p>
          {% endif %}
          <div class="card-body font-extrabold">
            <p><strong>Ano de fabricação:</strong> {{ object.factory_year }}</p>
            <p><strong>Ano do modelo:</strong> {{ object.model_year }}</p>
            <p><strong>Placa:</strong> {{ object.plate }}</p>
            <p><strong>Preço:</strong> R$ {{ object.value }}</p>
            {% if object.description %}
              <p><strong>Descrição:</strong> {{ object.description }}</p>
            {% endif %}
            {% if user.is_authenticated %}
              <div class="buttons">
                <a href="{% url 'car_update' pk=object.pk %}" class="btn btn-outline-primary">Editar</a>
                <a href="{% url 'car_delete' pk=object.pk %}" class="btn btn-outline-danger">Deletar</a>
                <a href="{% url 'cars_list'%}" class="btn btn-outline-secondary">Voltar</a>
              </div>
            
            {% endif %}

          </div>

        </div>
      </div>

    </div>

  </div>



{% endblock %}
