{% extends "base.html" %}
{% load static %}

{% load humanize %}

<link rel="stylesheet" href="{% static 'css/app.css' %}">
<link rel="stylesheet" href="{% static 'css/app-dark.css'%}">

{% block body %}
{% block content %}

<div id="main">

  <div class="page-heading">
    <!--CARDES DOS VEÍCULOS-->
    {% if cars %}
      {% for car in cars %}
        <a href= "{% url 'car_detail' car.pk %}">
          <div class="card " style="width: 18rem;">
            {% if car.photo %}
              <img src="{{ car.photo.url}}" class="card-img-top" alt=" {{ car.model }} - {{ car.brand }}">
            {% else %}
              <p>Foto Indisponivél</p>
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ car.brand }} - {{ car.model }}</h5>
              <p class="card-text"> Ano -  {{ car.factory_year }}</p>
              <p class="card-text">R$ - {{ car.value | intcomma}}</p>
            </div>

          </div>
        </a>
      {% endfor %}
      {% else %}
        <h1>Nenhum veículo cadastrado</h1>
      {% endif %}

  </div>
</div>





{% endblock content%}

{% endblock body %}